
<%- include("partials/header") %> 
<div class="container">
<div class="jumbotron container" >
  <h1 >Predicted Colleges<small></small></h1>
</div> 
<input type="text" class="confirm" placeholder="confirm your marks "></input>
<button class="btn btn-danger" id="conjuring">Show now</button>

<div class="list-group container">
  <a href="#" class="list-group-item list-group-item-warning" id="display">Predicted Colleges</a>
</div>
</div>

<script src="/script/sc.js"></script>

<%- include("partials/footer") %> 